<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>添加book</title>
</head>
<body>
    <form action="/forground/save_add_book" method="post">
      {% csrf_token %}
      <div>
        <label>书名</label>
        <input type="text" name="title">
      </div>
      <div>
        <label>价格</label>
        <input type="text" name="price">
      </div>
      <div>
        <label>出版社</label>
        <input type="text" name="publish">
      </div>
      <div>
        <label>出版时间</label>
        <input type="text" name="pub_date">
      </div>
      <input type="submit" value="添加">
    </form>

    <p>{{ rlt }}</p>
</body>
</html>